- content_for(:html_title) {'編集 | BowWow!'}

.container.new-post
  .d-flex.align-items-center.new-post__upper
    %h1 編集
    .ml-auto.boards__linkBox
      = link_to '戻る', post_path, class: 'btn btn-outline-dark'

  = render partial: 'form', locals: { post: @post, tags: @tags }
