- content_for(:html_title) {'新規投稿 | BowWow!'}

.container.new-post
  .d-flex.align-items-center.new-post__upper
    %h1 新規投稿
    .ml-auto.boards__linkBox
      = link_to '投稿一覧', root_path, class: 'btn btn-outline-dark'

  = render partial: 'form', locals: { post: @post, tags: @tags }