.p-comment__formBox {
  margin: 30px auto;
  border: 5px solid #e8e8e8;
  padding: 25px;
  border-radius: 14px;
}

.p-comment__formTitle {
  border-bottom: 2px solid #dfdfdf;
  padding-bottom: 5px;
}

.p-comment__listTitle {
  border-bottom: 2px solid #dfdfdf;
  padding-bottom: 5px;
}

.p-comment__list {
  margin: 38px 0;
  padding: 20px;
}

.p-comment__item {
  padding: 18px;
  border-bottom: 2px dotted #dfdfdf;
}

.p-comment__userInfo{
  img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
  }
  &__upperLine{
    font-size: 15px;
    color: #666;
  
    > li {
      font-size: 14px;
      margin: 0 4px;
    }

    i{
      font-size: 16px;
      color: #666;
    }
    i:hover{
      font-weight: bold;
    }

    a{
      color: #666;
    }
  }
}

.p-comment__text{
  padding-left: 64px;
  margin-top: -8px;
}