// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-list{
  max-width: 1000px;
  min-height: 574px;
  h1 {
    margin: 30px 0;
  }
  &__items{
    margin-bottom: 20px;
    &__item{
      margin: 15px 0;
      &__image{
        width: 100%;
        height: 300px;
        object-fit: cover;
        border-radius: 10px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.15);
      }
    }
  }
}

.new-post-btn{
  &--pc{
    position: fixed;
    z-index: 1000;
    border-radius: 50%;
    background-color: #ff4444;
    color: white;
    text-align: center;
    bottom: 32px;
    right: 32px;
    width: 160px;
    height: 160px;
    font-size: 22px;
    padding-top: 64px;
  }
  &--sp{
    position: fixed;
    z-index: 1000;
    border-radius: 50%;
    background-color: #ff4444;
    color: white;
    text-align: center;
    bottom: 32px;
    right: 32px;
    width: 80px;
    height: 80px;
    font-size: 14px;
    padding-top: 32px;
  }
}
.new-post-btn{
  &--pc:hover{
    text-decoration: none;
    background-color: #aa4444;
    color: white;
  }
  &--sp:hover{
    text-decoration: none;
    background-color: #aa4444;
    color: white;
  }
}

.new-post{
  min-height: calc(100vh - 192px);
  &__upper{
    margin: 30px 0;
  }
}

.show-post{
  min-height: calc(100vh - 186px);
}